android_camera/.gradle
android_camera/gradleBuild
local.properties
ios_camera/tflite_camera_example.xcodeproj
/training_old/
/notebooks/secret.txt
/data/Pola25/
/data/Pola25_224/
/data/Pola25_small/
/data/mini_dataset/
/tensorflow-for-poets-2/keystore.jks
.idea
